body{
    margin:0;
    padding:0;
    height:100;
    width:100;
}

.DashboardV8{
    display: grid;
    height:100vh;
    grid-template-columns: 120px 1fr;
    grid-template-rows:60px 1fr 40px;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer"
    ;
}

.HeaderV8{
    grid-area:header;
    display:flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.FooterV8{
    grid-area:footer;
    display:flex;
    background-color: rgba(219, 224, 226, 0.904);
    justify-content: center;
    align-items: center;
}

.Sidebarv8{
    grid-area:sidebar;
    display:flex; 
    padding-top: 60px;
    padding-left:5px;
    color: white; 
    flex-direction: column;
    background-color: rgb(114, 63, 235);
}

.ScrollabeMainV8{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap:5px;
    padding:5px;
}

.WidgetV8{
    display: flex;
    gap:5px;
    flex:0 0 70px;
}

.WOneV8,.WTwoV8,.WThreeV8,.WFourV8,.WFiveV8{
display: flex;
flex:1;
border-radius: 5px;
background-color: seagreen;
color: white;
justify-content: center;
align-items: center;
}

.ContentTopV8{
display:flex;
gap:5px;
flex:0 0 200px;
}

.ContentTopOneV8{
display:flex;
gap:5px;
flex:1;
overflow-x: auto;
}

.ContentTopTwoV8{
display:flex;
flex-direction:column;
flex:1;
max-height: 200px;
gap:5px; 
overflow-y: auto;   
}

.CRightOne,.CRightTwo{
background-color: khaki;
border-radius:5px;
display: flex;
min-height: 200px;
justify-content: center;
align-items: center;
}

.CTLeftOne,.CTLeftTwo{
background-color: khaki;
border-radius:5px;
display: flex;
min-width:300px;
justify-content: center;
align-items: center;
}

.ContentBottomOneV8{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    min-height: 200px;
}

.ContentBottomTwoV8{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    min-height: 200px;
}
