body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

div.website-Vone{
   display:grid;
   min-height: 100vh;
   grid-template-rows:auto 1fr auto;
   grid-template-areas:
   "header"
   "main"
   "footer";
}

.header-Vone{
    display:flex;
    grid-area:"header";
    background-color: crimson;
    border: 1px solid whitesmoke
}

.main-Vone{
    display:flex;
    grid-area:"main";
    background-color: crimson;
    border: 1px solid whitesmoke
}

.footer-Vone{
    display:flex;
    grid-area:"footer";
    background-color: crimson;
    border: 1px solid whitesmoke
}